*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc*
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.run.xml
*.snm
*.swp
*.synctex.gz
*.thm
*.toc
*.vrb
*.xdv
*.xdy
*.tdo
*sublime*
